/Build/*.sh
/Build/Behat/
/Build/Surf/
/Configuration/Development/
/Configuration/Production/
/Configuration/*.example
/Configuration/README
/Configuration/PackageStates.php
/Data/
/Packages/
/Web/
/bin/
/Readme.txt
/Readme.rst
/Upgrading.txt
/Upgrading.rst
/flow
/flow.bat

.idea/
node_modules/
